.response_container {
	background:#f1f1f1;
	.container {
		padding-top:50px;
	}
}

/* hack out the extra returned .container until I figure out why it's only doing it on MediaTemple (and not locally) */
.video:nth-child(2){
	display:none;
}

.sidebar {
	border-right:1px solid #dcdcdc;
	margin-right:-1px;
}

footer {
	padding-top:50px;
	padding-bottom:15px;
	@include gradient(#f1f1f1, #ddd);
	p {
		text-align:center;
		color:#777;
	}
}

.centered {
	text-align:center;
}

@include respond-to(mobile) {
	.response_container {
		margin-left:-20px;
		margin-right:-20px;
	}
	.sidebar {
		border-right:none;
		margin-right:0;
	}
}